USE [master]
GO
/****** Object:  Database [VetClinicDB]    Script Date: 14.06.2026 22:21:30 ******/
CREATE DATABASE [VetClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VetClinicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VetClinicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VetClinicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VetClinicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VetClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VetClinicDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[OwnerId] [int] NOT NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ServiceId] [int] NULL,
	[DoctorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistories]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VisitDate] [datetime] NOT NULL,
	[Diagnosis] [nvarchar](500) NOT NULL,
	[Treatment] [nvarchar](500) NULL,
	[Prescriptions] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Species] [nvarchar](50) NOT NULL,
	[Breed] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[OwnerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.06.2026 22:21:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [OwnerId], [AppointmentDateTime], [Reason], [Status], [ServiceId], [DoctorId]) VALUES (5, 1, 1, CAST(N'2026-03-03T11:43:00.000' AS DateTime), N'тест', N'Completed', 2, 4)
INSERT [dbo].[Appointments] ([Id], [PatientId], [OwnerId], [AppointmentDateTime], [Reason], [Status], [ServiceId], [DoctorId]) VALUES (6, 2, 1, CAST(N'2026-03-04T02:30:40.997' AS DateTime), N'тест1', N'Completed', 5, 5)
INSERT [dbo].[Appointments] ([Id], [PatientId], [OwnerId], [AppointmentDateTime], [Reason], [Status], [ServiceId], [DoctorId]) VALUES (7, 3, 2, CAST(N'2026-03-04T02:40:23.203' AS DateTime), N'тест2', N'Completed', 1, 2)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginHistories] ON 

INSERT [dbo].[LoginHistories] ([Id], [UserId], [UserName], [FullName], [Role], [LoginTime]) VALUES (1, 1, N'admin', N'Администратор Системы', N'Admin', CAST(N'2026-06-09T17:59:35.293' AS DateTime))
INSERT [dbo].[LoginHistories] ([Id], [UserId], [UserName], [FullName], [Role], [LoginTime]) VALUES (2, 1, N'admin', N'Администратор Системы', N'Admin', CAST(N'2026-06-09T18:00:03.530' AS DateTime))
INSERT [dbo].[LoginHistories] ([Id], [UserId], [UserName], [FullName], [Role], [LoginTime]) VALUES (3, 1, N'admin', N'Администратор Системы', N'Admin', CAST(N'2026-06-09T18:01:05.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoginHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [VisitDate], [Diagnosis], [Treatment], [Prescriptions]) VALUES (6, 1, CAST(N'2026-03-04T00:00:00.000' AS DateTime), N'коньюктивит', N'узи', N'капли')
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [VisitDate], [Diagnosis], [Treatment], [Prescriptions]) VALUES (7, 2, CAST(N'2026-03-04T00:00:00.000' AS DateTime), N'грыжа', N'первичном осмотре', N'операция')
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [VisitDate], [Diagnosis], [Treatment], [Prescriptions]) VALUES (8, 3, CAST(N'2026-03-04T00:00:00.000' AS DateTime), N'здоров', N'первичный осмотр', N'вакцинация')
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([Id], [FullName], [Phone], [Email], [Address]) VALUES (1, N'Иванов Иван Иванович', N'123-4567', N'ivanov@mail.com', N'ул. Ленина, 1')
INSERT [dbo].[Owners] ([Id], [FullName], [Phone], [Email], [Address]) VALUES (2, N'Петрова Мария Сергеевна', N'234-5678', N'petrova@mail.com', N'ул. Гагарина, 5')
INSERT [dbo].[Owners] ([Id], [FullName], [Phone], [Email], [Address]) VALUES (3, N'Сидоров Алексей Петрович', N'345-6789', N'sidorov@mail.com', N'ул. Пушкина, 10')
SET IDENTITY_INSERT [dbo].[Owners] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [Name], [Species], [Breed], [BirthDate], [OwnerId]) VALUES (1, N'Барсик', N'Кот', N'Сиамский', CAST(N'2020-05-10' AS Date), 1)
INSERT [dbo].[Patients] ([Id], [Name], [Species], [Breed], [BirthDate], [OwnerId]) VALUES (2, N'Мухтар', N'Собака', N'Овчарка', CAST(N'2019-03-15' AS Date), 1)
INSERT [dbo].[Patients] ([Id], [Name], [Species], [Breed], [BirthDate], [OwnerId]) VALUES (3, N'Рыжик', N'Кот', N'Дворовый', CAST(N'2021-07-20' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [IsActive]) VALUES (1, N'Первичный осмотр', N'Общий осмотр животного', CAST(1500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [IsActive]) VALUES (2, N'Вакцинация', N'Комплексная вакцинация', CAST(2500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [IsActive]) VALUES (3, N'Стерилизация', N'Хирургическая стерилизация', CAST(8000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [Role], [FullName]) VALUES (1, N'admin', N'admin', 0, N'Администратор Системы')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Role], [FullName]) VALUES (2, N'doctor', N'doctor', 1, N'Смирнов Сергей Юрьевич')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Role], [FullName]) VALUES (3, N'registrar', N'registrar', 2, N'Петрова Анна Сергеевна')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Appointments_AppointmentDateTime]    Script Date: 14.06.2026 22:21:31 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_AppointmentDateTime] ON [dbo].[Appointments]
(
	[AppointmentDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 14.06.2026 22:21:31 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginHistories_LoginTime]    Script Date: 14.06.2026 22:21:31 ******/
CREATE NONCLUSTERED INDEX [IX_LoginHistories_LoginTime] ON [dbo].[LoginHistories]
(
	[LoginTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalRecords_PatientId]    Script Date: 14.06.2026 22:21:31 ******/
CREATE NONCLUSTERED INDEX [IX_MedicalRecords_PatientId] ON [dbo].[MedicalRecords]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patients_OwnerId]    Script Date: 14.06.2026 22:21:31 ******/
CREATE NONCLUSTERED INDEX [IX_Patients_OwnerId] ON [dbo].[Patients]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F284563B1E150A]    Script Date: 14.06.2026 22:21:31 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Owners] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owners] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Owners]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Services]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users_Doctor]
GO
ALTER TABLE [dbo].[LoginHistories]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LoginHistories] CHECK CONSTRAINT [FK_LoginHistories_Users]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Patients]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Owners] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owners] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Owners]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([Status]='Canceled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='2' OR [Role]='1' OR [Role]='0'))
GO
USE [master]
GO
